services:
  proxy:
    image: golang:1.22.5-bookworm
    ports:
      - 8080:8080
    volumes:
      - ./proxy:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      postgres_proxy:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  manager:
    image: golang:1.22.5-bookworm
    ports:
      - 8010:8010
    volumes:
      - ./manager:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      proxy:
        condition: service_started
      postgres_manager:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  echo:
    image: golang:1.22.5-bookworm
    ports:
      - 8011:8011
    volumes:
      - ./echo:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      proxy:
        condition: service_started
      postgres_echo:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  service:
    image: golang:1.22.5-bookworm
    ports:
      - 8012:8012
    volumes:
      - ./service:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      postgres_service:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  manager_estimation-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./manager_estimation:/app
      - ./manager_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
      - ./manager_estimation/model:/tmp/model
    environment:
      - TZ=Asia/Tokyo
      - MODEL_DIR=/tmp/model
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/main.py"
    ports:
      - "8200:8000"

  manager_classification-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./manager_estimation:/app
      - ./manager_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/classification.py"
    ports:
      - "8300:8000"

  manager_estimation-api:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./manager_estimation:/app
      - ./manager_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/app.py"
    ports:
      - "8101:8101"

  echo_estimation-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./echo_estimation:/app
      - ./echo_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/main.py"
    ports:
      - "8201:8000"

  echo_estimation-api:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./echo_estimation:/app
      - ./echo_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/app.py"
    ports:
      - "8102:8102"

  bravo_estimation-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./bravo_estimation:/app
      - ./bravo_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/main.py"
    ports:
      - "8202:8000"

  charlie_estimation-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./charlie_estimation:/app
      - ./charlie_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/main.py"
    ports:
      - "8203:8000"

  all_estimation-model:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./all_estimation:/app
      - ./all_estimation/requirements.lock:/app/requirements.lock
      - ./all_estimation/manager_fingerprint:/app/manager_fingerprint
      - ./all_estimation/model:/tmp/model
    environment:
      - TZ=Asia/Tokyo
      - MODEL_DIR=/tmp/model
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/main.py"
    ports:
      - "8204:8000"
  postgres_manager:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: managerdb
      TZ: Asia/Tokyo
    ports:
      - 5433:5432
    volumes:
      - ./manager/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d managerdb" ]
      interval: 20s
      retries: 10

  postgres_proxy:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: proxydb
      TZ: Asia/Tokyo
    ports:
      - 5434:5432
    volumes:
      - ./proxy/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d proxydb" ]
      interval: 20s
      retries: 10

  postgres_echo:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: echodb
      TZ: Asia/Tokyo
    ports:
      - 5435:5432
    volumes:
      - ./echo/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d echodb" ]
      interval: 20s
      retries: 10

  bravo:
    image: golang:1.22.5-bookworm
    ports:
      - 8013:8013
    volumes:
      - ./bravo:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      proxy:
        condition: service_started
      postgres_bravo:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  charlie:
    image: golang:1.22.5-bookworm
    ports:
      - 8014:8014
    volumes:
      - ./charlie:/app
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    depends_on:
      proxy:
        condition: service_started
      postgres_charlie:
        condition: service_healthy
    command: go run ./cmd/server.go
    environment:
      - TZ=Asia/Tokyo

  bravo_estimation-api:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./bravo_estimation:/app
      - ./bravo_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/app.py"
    ports:
      - "8103:8103"

  charlie_estimation-api:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./charlie_estimation:/app
      - ./charlie_estimation/requirements.lock:/app/requirements.lock
      - ./manager/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/app.py"
    ports:
      - "8104:8104"

  all_estimation-api:
    image: python:3.12.7-bookworm
    working_dir: /app
    volumes:
      - ./all_estimation:/app
      - ./all_estimation/requirements.lock:/app/requirements.lock
      - ./all_estimation/manager_fingerprint:/app/manager_fingerprint
    environment:
      - TZ=Asia/Tokyo
    command: >
      /bin/sh -c "pip install uv && pip install --no-cache-dir -r requirements.lock && python ./src/estimation/app.py"
    ports:
      - "8105:8105"
  postgres_bravo:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: bravodb
      TZ: Asia/Tokyo
    ports:
      - 5437:5432
    volumes:
      - ./bravo/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d bravodb" ]
      interval: 20s
      retries: 10

  postgres_charlie:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: charliedb
      TZ: Asia/Tokyo
    ports:
      - 5438:5432
    volumes:
      - ./charlie/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U myuser -d charliedb" ]
      interval: 20s
      retries: 10
  postgres_service:
    image: postgres:16.3-bookworm
    environment:
      POSTGRES_USER: myuser
      POSTGRES_PASSWORD: mypassword
      POSTGRES_DB: servicedb
      TZ: Asia/Tokyo
    ports:
      - 5436:5432
    volumes:
      - ./service/init.sql:/docker-entrypoint-initdb.d/init.sql
      - /etc/localtime:/etc/localtime:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U myuser -d servicedb"]
      interval: 20s
      retries: 10

  manager_web:
    image: node:22-bookworm-slim
    volumes:
      - ./manager_web:/app
      - /app/node_modules
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    ports:
      - '5173:5173'
    environment:
      - TZ=Asia/Tokyo

  echo_web:
    image: node:22-bookworm-slim
    volumes:
      - ./echo_web:/app
      - /app/node_modules
      - /etc/localtime:/etc/localtime:ro
    working_dir: /app
    command: sh -c "npm install && npm run dev"
    ports:
      - '5174:5174'
    environment:
      - TZ=Asia/Tokyo

  swagger-editor:
    image: swaggerapi/swagger-editor
    container_name: "swagger-editor"
    ports:
      - "8001:8080"

  swagger-ui:
    image: swaggerapi/swagger-ui
    container_name: "swagger-ui"
    ports:
      - "8002:8080"
    volumes:
      - ./openapi.yaml:/openapi.yaml
    environment:
      SWAGGER_JSON: /openapi.yaml

  swagger-api:
    image: stoplight/prism:3
    container_name: "swagger-api"
    ports:
      - "8003:4010"
    command: mock -h 0.0.0.0 /openapi.yaml
    volumes:
      - ./openapi.yaml:/openapi.yaml

networks:
  elpis_network:
    external: true
